body{
    display: flex;
    justify-content: center;
    background-image: url("./img2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.body{
    display:inline-grid;
    grid-template-columns: 60px 60px 60px 60px;
    background-attachment: fixed;
    background-color:black;
    padding: 15px; 
    border-radius: 5px;
}
.body > button,div {
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
#screen {
    grid-column-start: 1;
    grid-column-end: 5;
    height: 50px;
    font-size: xx-large;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;

}
#equalsTo {
    grid-column-start: 3;
    grid-column-end: 5;
}
#AC, #DEL {
    font-size: smaller;
}